@using PhotoSharing.Web.Models
@model IEnumerable<Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (Photo photo in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => photo.Title)
            </td>            
            <td>
                @Html.DisplayFor(model => photo.Description)
            </td>
            <td>
                @Html.DisplayFor(model => photo.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(model => photo.UserName)
            </td>
            <td>
                @Html.ActionLink("Display", "Display", new { id = photo.Id })
            </td>
        </tr>
    }

</table>
